<a class = "button" href="#/home">Home</a>
<a class = "button" href="#/addRestaurant">Add Restaurant</a>
<a class = "button" href="#/viewRestaurants">View Restaurants</a>
<a class = "button" href="#/reviews">Reviews</a>
<a class = "button" href="#/search">Search</a>
<a class = "button" href="#/login">Login</a>
<a class = "button" href="#/newuser">Create an account</a>
<h1> Add Restaurant here </h1>

					<label>Restaurant name
                        <input type="text" placeholder="Restaurant Name">
                    </label>
                    <label>Location
                        <input type="text" placeholder="Location">
                    </label>
                    <label>Foodstyle
                        <input type="text" placeholder="Foodstyle">
                    </label>
                    <p><a type="submit" class="button expanded">Submit</a></p>