<div class="details">

<a class = "button" href="#/gallery">Gallery</a>
<a class = "button" href="#/list">List</a>
<h1> Rank: {{rank}}, Title: {{movie.title}}</h1>
<p>Released: {{movie.released}}
    <br>
    Runtime: {{movie.runtime}}
    <br>
    Awards: {{movie.awards}}
    <br>
    Plot: {{movie.plot}}
</p>
<p><img ng-src="./data/images/{{ movie.imdbID }}.jpg" alt="{{movie.title}}"></p>


<a class = "button" ng-click ="rank = prev(rank)" href="#/list/{{ rank }}">Previous</a>
<a class = "button" ng-click ="rank = next(rank)"  href="#/list/{{ rank }}">Next</a>

</div>
