<h1>List</h1>
<div class="list">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <a class = "button" href="#/gallery">Gallery</a>
            <a class = "button" href="#/list">List</a>

<section>
            Search: <input ng-model="query">
    </section>
            <br>
            <section>
            Sort by:
            <select ng-model="orderProp">
                <option value="title">Alphabetical</option>
                <option value="rank">Rank</option>
            </select>
<br>
            <label>
                <input type="radio" ng-model="reverse" ng-value="{reverse}"  ng-class="{reverse:reverse}">
                Ascending
            </label>
            <label>
                <input type="radio" ng-model="reverse" value="{reverse}" ng-class="{reverse:reverse}">
                Descending
            </label>
</section>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="movies">
                <div class= "column">
                <li ng-repeat="movie in movies | filter:query | orderBy:orderProp:reverse">
                    <div class = "container">
                        <h1><a href="#list/{{movie.rank}}">{{movie.title}}</a></h1>
                     <a href="#list/{{movie.rank}}"><img ng-src="./data/images/{{ movie.imdbID }}.jpg" alt="{{movie.title}}"></a>

                        <p>Rank: {{movie.rank}}</p>
                    </div>
                </li>
                </div>
            </ul>

        </div>
    </div>
</div>