<a class = "button" href="#/home">Home</a>
<a class = "button" href="#/addRestaurant">Add Restaurant</a>
<a class = "button" href="#/viewRestaurants">View Restaurants</a>
<a class = "button" href="#/reviews">Reviews</a>
<a class = "button" href="#/search">Search</a>
<a class = "button" href="#/login">Login</a>
<a class = "button" href="#/newuser">Create an account</a>
<h1> Login </h1>

            <form>
                <div class="row column log-in-form">
                    <h4 class="text-center">Log in with your username and password</h4>
                    <label>Username
                        <input type="text" placeholder="Username">
                    </label>
                    <label>Password
                        <input type="password" placeholder="Password">
                    </label>
                    <p><a type="submit" class="button expanded">Log In</a></p>
                    <p class="text-center"><a href="#/newuser">New user? Create an account</a></p>
                    <p class="text-center"><a href="#/home">Forgot your password?</a></p>
                </div>
            </form>