<div class="reviews">

<a class = "button" href="#/home">Home</a>
<a class = "button" href="#/addRestaurant">Add Restaurant</a>
<a class = "button" href="#/viewRestaurants">View Restaurants</a>
<a class = "button" href="#/reviews">Reviews</a>
<a class = "button" href="#/search">Search</a>
<a class = "button" href="#/login">Login</a>
<a class = "button" href="#/newuser">Create an account</a>
<h1>Submit Reviews</h1>
					<label>Restaurant Name
                        <input type="text"placeholder="Restaurant Name">
                    </label>
                    <label>Location
                        <input type="text" placeholder="Location">
                    </label>
			Quality rating
             <select ng-model="orderProp">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
			</select>
			Price rating
             <select ng-model="orderProp">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
			</select>
<label>Type your review here...
        <textarea rows="10" cols="30"placeholder="Begin typing..."></textarea>
    </label>
    <p><a type="submit" class="button expanded">Submit</a></p>


</div>
